{% extends 'app/base.html' %}

{% block content %}
<div class="my-5 d-flex justify-content-between align-items-center" style="height: 100%;">
  <h1>ユーザ管理アプリ</h1>
  <button class="btn btn-primary">
    <a class="text-light text-decoration-none" href="{% url 'user:add' %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>
      ユーザ追加
    </a>
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody class="users-table-body">
    {% for user in user_data %}
    <tr>
      <td> {{ user.id }} </td>
      <td><a href="{% url 'user:update' user.pk %}" class="text-decoretion-none"> {{ user.name }} </a></td>
      <td> {{ user.email }} </td>
      <td> {{ user.phone }} </td>
      <td>           
        <button class="deleteButton" id="{{ user.id }}" class='text-decoration-none' onclick='return confirm("ID:{{ user.id }}のユーザ情報を削除します。\n本当によろしいですか？")'>
        <a href="{% url 'user:delete' user.pk %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash pe-none" viewBox="0 0 16 16">
            <path class="pe-none" d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
            <path class="pe-none" fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
          </svg>
        </a>
        </button>
      </td>
    </tr>
    {% endfor%}
  </tbody>
</table>

{% endblock %}