{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <!-- メッセージを表示するエリア -->
  <div class="position-relative">
      <div id="messageArea" class="position-fixed start-50 top-30 translate-middle">
      </div>
  </div>

  <div class="my-5 d-flex justify-content-between align-items-center" style="height: 100%">
    <h1>ユーザ管理アプリ（更新）</h1>
    <button class="btn btn-warning">
      <a class="text-dark text-decoration-none" href="{% url 'user:index' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"class="bi bi-house" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
        </svg>
        HOME
      </a>
    </button>
  </div>

  <form id="userForm" action="{% url 'user:update' user.pk %}" method="POST">
    <div class="mb-2">
      <!-- <label class="form-label" for="name">{{ user_data.name.label }}</label> -->
      <input class="form-control" type="text" name="name" id="id_name" value="123">
    </div>
      <label class="form-label" for="email">{{ user_data.email.label }}</label>
      <input class="form-control" type="text" name="email" id="{{ data.email }}">
    <div class="mb-2">
      <label class="form-label" for="phone">{{ user_data.phone.label }}</label>
      <input class="form-control" type="text" name="phone" id="{{ user_data.phone }}">
    </div>
    <div class="mt-5 text-center">
      <button type="submit" class="btn btn-primary">Add</button>
      {% csrf_token %}
    </div>
  </form>
</div>

{% endblock %}